@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* ajusta si tu header mide más o menos */
}

@keyframes logo-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll 25s linear infinite;
}
